@model IEnumerable<RoleToReturnDto>
@{
    ViewData["Title"] = "Index";
}

<h1>Employee</h1>
<br />
<div class="container">
    <div class="row">
        <div class="col-6">
            <input id="searchInput" placeholder="Search by name" class="form-control" />
        </div>
    </div>
</div>
<br />
<a asp-action="Create" asp-controller="Role" class="btn btn-danger">Create Role </a>
<br />
<br />
<p class="mb-0 fw-semibold">@ViewData["Message"]</p>

<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody id="employeesTable">
        @foreach (var item in Model)
        {
            <tr class="employee-row"
                data-search="@($"{item.id} {item.name} ".ToLower())">
                <td>@item.id</td>
                <td>@item.name</td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.id" class="btn btn-danger">Details</a>
                </td>
                <td><a asp-action="Edit" asp-route-id="@item.id" class="btn btn-warning">Update</a></td>

                <td><a asp-action="Delete" asp-route-id="@item.id" class="btn btn-success">Delete</a></td>
            </tr>
        }
    </tbody>
</table>

<div id="noEmployees" class="mt-4 alert-info" style="display: none;">
    <h4>There are no matching employees :(</h4>
</div>

@section Scripts {
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <script>
        document.getElementById('searchInput').addEventListener('input', function () {
            const searchTerm = this.value.toLowerCase();
            const rows = document.querySelectorAll('.employee-row');
            let hasMatches = false;

            rows.forEach(row => {
                const rowText = row.getAttribute('data-search');
                if (rowText.includes(searchTerm)) {
                    row.style.display = '';
                    hasMatches = true;
                } else {
                    row.style.display = 'none';
                }
            });

            document.getElementById('noEmployees').style.display = hasMatches ? 'none' : 'block';
        });

        window.onload = function () {
            let alertBox = document.getElementById("successAlert");
            if (alertBox) {
                alertBox.classList.add("show");
                setTimeout(() => {
                    alertBox.classList.remove("show");
                    alertBox.classList.add("fade");
                }, 5000);
            }
        };
        $(document).ready(function () {
            setTimeout(function () {
                $('#successAlert').fadeOut('slow');
            }, 3000); 
        });
    </script>
}
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success fade show" role="alert" id="successAlert">
        @TempData["SuccessMessage"]
    </div>
}
